html,
body {
  height: 100%;
  margin: 0;
}
.about-us {
  background-color: rgb(207, 225, 152);
}
.dikr-main {
  background-color: rgb(212, 222, 181);
  height: 100vh;
}

.nav {
  padding: 10px;
  margin-bottom: 10px;
  text-align: end;
  z-index: 1000;
  position: fixed; /* Fixed positioning to stay at the top */
  top: 0;
  right: 0;
}

.nav a {
  text-decoration: none;
}

.main-h1 {
  font-size: 25px;
  color: rgb(156, 175, 196);
  padding: 10px;
}
h1 {
  margin: 0;
}
.inline-list {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
}

.inline-list li {
  display: inline; /* Display list items inline */
  margin-right: 10px; /* Add some space between items */
}

.link-button {
  border: none;
  border-radius: 13px;
  font-size: large;
  background-color: rgb(156, 175, 196);
  padding: 7px;
}
.link-button :hover {
  background-color: rgb(134, 152, 171);
}

.card {
  padding: 15px;
  min-height: 10em;
  min-width: 12em;
  border-radius: 20px;
  margin: 10px;
  background-color: rgb(199, 201, 143);
  color: rgb(43, 43, 33);
  display: flex;
  flex-direction: column;
}
.card-active {
  background-color: rgb(213, 209, 151);
}
.bold-text {
  font-size: 2em;
  font-weight: bolder;
}

.dikr-button {
  background-color: #cfc567; /* Blue background color */
  border: none; /* Remove default border */
  color: rgb(0, 0, 0); /* White text color */
  text-align: center; /* Center the text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Allow setting dimensions */
  font-size: 26px; /* Larger font size */
  font-weight: bold;
  cursor: pointer; /* Pointer cursor on hover */
  border-radius: 12px; /* Rounded corners */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
  min-width: 15%;
  height: 5em;
}
.small-button {
  background-color: #cfc567; /* Blue background color */
  border: none; /* Remove default border */
  color: rgb(0, 0, 0); /* White text color */
  text-align: center; /* Center the text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Allow setting dimensions */
  font-size: 16px; /* Larger font size */
  cursor: pointer; /* Pointer cursor on hover */
  border-radius: 12px; /* Rounded corners */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.dikr-button:hover {
  background-color: #bbd031; /* Darker blue on hover */
}

.display-card {
  font-size: 56px;
  font-weight: bolder;
  margin: 10px;
  padding: 10px;
  color: rgb(44, 47, 34);
}
.grid-container {
  display: inline-grid;
  grid-template-columns: repeat(3, auto); /* 3 columns with equal width */
  grid-template-rows: repeat(2, auto); /* 2 rows with equal height */
  justify-content: center;
  width: 100%;
}

.grid-item {
  text-align: center;
}
